*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    width: 10rem;
}

#h14{
    font-weight: bolder;
    text-align: center; 
    text-decoration: underline;
}

main{
  background-color: #a1bec4;
}

#footer{
  color: black;
  text-align: center;
  font-weight: 700;
}

  img{
    width:10rem;
  }

  #edit{
    border-radius: 5px;
    background-color: #a1bec4;
  }

  #del{
    border-radius: 5px;
    background-color:#a1bec4;
    height: 2.3rem;
  }

  #btns1{
    border: 2px solid black;
    background-color:#a1bec4;
  }

  