*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    width: 10rem;
}

main{
  background-color: #a1bec4;
}

#h14{
    font-weight: bolder;
    text-align: center; 
    text-decoration: underline;
}

#footer{
  color: black;
  text-align: center;
  font-weight: 700;
}

h3{
  text-align: center;
}