*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
  background-color: #a1bec4;
}

#logo{
    width: 10rem;
}

#h14{
    font-weight: bolder;
    text-align: center; 
    text-decoration: underline;
}

#footer{
  color: black;
  text-align: center;
  font-weight: 700;
}

label{
    text-align: center !important;
    font-weight: bold;
}

form{
    
    width: fit-content;
    
}

#btn{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.contactsForm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
  }

  form {
    width: 70%;
  }

  .btns {
    display: flex;
    justify-content: space-evenly;
  }

  .butn1, .butn2 {
    padding: 0.4rem;
    width: 7rem;
    background-color: black;
    color:white;
    border-radius: 10px;
  }
  
  .butn1 {
    margin-right: 4px;
  }

  @media screen and (max-width:300px){
    .p-3{
      padding: 0 !important;
    }
  }