*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#logo{
    width: 10rem;
}

#h14{
    font-weight: bolder;
    text-align: center; 
    text-decoration: underline;
}

main{
  background-color: #a1bec4;
}

header{
    color: white;
}

#footer{
  color: black;
  text-align: center;
  font-weight: 700;
}

#description{
  text-align: center;
}

.card-title{
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    font-size: xx-large !important;
}

.card{
    margin-bottom: 1rem;
    margin-left: 1rem;
    background-color:#e6d8d5;
}

img{
    margin-top: 1rem;
}

.btn{
    border: 4px solid  #a1bec4;
    background-color: #a1bec4;
    color: white;
}

#price{
    font-weight: bold;
    font-size: larger;
    text-align: center;
}