*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    overflow-x: hidden;
}

#header{
    background-color:#edb1f1 !important;
}

#footer{
    color: black !important;
    font-size: medium !important;
    font-weight: bold;
}

#card{
    background-color:#edb1f1 !important;
    text-align: center;
}

img{
    width: 10rem;
}

.card{
    width: 17rem;
    margin-bottom: 1rem;
}

h2{
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
}

h5{
    text-align: center;
    font-weight: bolder;
    text-decoration: underline; 
}

#img{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

#btn{
    padding: 0.5rem;
    border-radius: 1rem;
    margin-left: 4rem !important;
}

#image{
    width: 40rem;
    margin: 2rem;
}

#container{
    display: flex;
    justify-content: space-around;
}

#cont{
    margin-top: 10rem;
}

#h6{
    font-style: italic;
    text-align: center;
}

#h1{
    font-weight: bolder;
}

#h14{
    font-weight: bolder;
    text-align: center; 
    text-decoration: underline;
}

#p{
    text-align: center;
    margin-top: 6rem;
}

#carousel{
    width: 40rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btns{
    padding: 0.5rem;
    border-radius: 1rem;
    margin-left: 45rem !important;
    margin-bottom: 1rem;
    background-color: #E1AEFF;
    border: 4px solid #E1AEFF;
}