@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&family=Rubik:wght@500&family=Ubuntu:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    /* overflow-x: hidden; */
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

#header{
    background-color:#edb1f1 !important;
}

#footer{
    color: black !important;
    font-size: medium !important;
    font-weight: bold;
}

#card{
    background-color:#edb1f1 !important;
    text-align: center;
}

#logo{
    width: 9rem;
}

img{
    width: 15rem;
}

.card{
    width: 16rem;
    height: 38rem;
    max-height: 100%;
    margin-bottom: 1rem;
    background-color: #E1AEFF;
    /* border: 2px solid black; */
}

h2{
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
}

.display-5{
  font-size: 2.3rem;
}

.text-black img{
  width: 100%;
  height: 10rem;
}

h5{
    text-align: center;
    font-weight: bolder;
    text-decoration: underline; 
}

#img{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

#btn{
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #FFECEC;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

#image{
    width: 40rem;
    margin: 2rem;
}

#container{
    display: flex;
    justify-content: space-around;
}

#cont{
    margin-top: 10rem;
}

#h6{
    font-style: italic;
    text-align: center;
}

#h1{
    font-weight: bolder;
}

#h14{
    font-weight: bolder;
    text-align: center; 
    text-decoration: underline;
}

/* #p{
    text-align: center;
    margin-top: 6rem;
} */

#carousel{
    width: 40rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btns{
    padding: 0.5rem;
    border-radius: 1rem;
    width: max-content;
    margin-left: 45rem !important;
    margin-bottom: 1rem;
    background-color: #E1AEFF;
    border: 4px solid #E1AEFF;
}

#containers{
    display: flex;
    justify-content: space-around;
}

input{
    width: 20rem !important;
}

.crow{
    display: inline-block !important;
}

#btns1{
    padding: 0.5rem;
    border-radius: 1rem;
    margin-left: 45rem !important;
    margin-bottom: 1rem;
    background-color: #E1AEFF;
    border: 4px solid #E1AEFF;
    width: 5rem;
}

#price{
    font-weight: bolder;
    text-align: center;
    font-size: xx-large;
}

.btn{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

#text{
    font-style: italic;
    font-size: 0.9rem;
}

ul{
    margin:0;
    padding:0;
    display:flex;
  }
  
  ul li{
    list-style:none;
    margin:0 20px;
    transition:0.5s;
  }
  
  ul li a{
    display: block;
    position:relative;
    text-decoration:none;
    padding:5px;
    font-size:18px;
    font-family: sans-serif;
    color:#fff;
    text-transform:uppercase;
    transition:0.5s;
  }

  .card-body{
    height: 100%;
    /* border: 2px solid green; */
  }
  .knob{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    padding-top: 1rem;
    /* height: 100%; */
  }

  
  ul:hover li a{
    transform:scale(1);
    opacity:0.2;
    filter:blur(1px);
  }
  
  ul li a:hover{
    transform:scale(1.3);
    transition: 0.8s;
    opacity:1;
    filter:blur(0);
    text-decoration:none;
    color:#fff;
  }
  
  ul li a:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transition:0.5s;
    transform-origin:right;
    transform:scaleX(0);
    z-index:-1;
  }
  
  ul li a:hover:before{
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  p{
    margin: 0;
  }

 

  .col-25 {
    -ms-flex: 25%; 
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%;
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%;
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container1 {
    background-color: #E1AEFF;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin: 1rem;
    width: fit-content !important;
  }
  
  input[type=text] {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }


  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #FFECEC;
    border-radius: 20px !important ;
    color: black;
    padding: 12px;
    margin: 10px 0;
    border: 4px solid #FFECEC;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #c26cf4;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }

@media screen and (min-width:300px){
  #container{
    display: inline-block;
  }

  #image{
    width: 15rem;
    margin-left: 2rem;
  }

  #h1{
    text-align: center;
  }

  #cont{
    margin-top: 0rem;
  }

  #h14{
    margin-top: 1rem;
  }

  #p{
    margin-top: 1rem;
  }

  .card{
    width: 280px;
    height: 100%;
  }

  #img{
    margin-left: 0rem;
  }

  #btn{
    /* margin-left: 5rem; */
    width: 8rem !important;
    height: 3rem !important;
  }

  .container1{
    margin: 1rem;
    width: 280px;
  }

  #cname{
    width: 250px !important;
  }

  #fname{
    width: 250px !important;
  }

  #email{
    width: 250px !important;
  }

  #adr{
    width: 250px !important;
  }

  #city{
    width: 250px !important;
  }

  #state{
    width: 250px !important;
  }

  #zip{
    width: 250px !important;
  }

  #ccnum{
    width: 250px !important;
  }

  #expmonth{
    width: 250px !important;
  }

  #expyear{
    width: 250px !important;
  }

  #cvv{
    width: 250px !important;
  }

  .btn{
    width: 230px !important;
    /* margin-left: 1rem !important; */
  }

  #btns1{
    margin-left: 2rem !important;
  }

  .table{
    width: 150px;
  }
}